# macOS / editors
.DS_Store
.idea/
.vscode/

# common build stuff (in case you add tooling later)
dist/
build/
node_modules/
*.log

# dotenv
.env
.env.*
metadata/
_metadata/
*.crx
*.pem
*.zip
.DS_Store
node_modules/
.idea/
.vscode/
